cycler==0.10.0
matplotlib==1.5.3
numpy==1.11.3
pkg-resources==0.0.0
protobuf==3.1.0.post1
ptyprocess==0.5.1
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2016.10
six==1.10.0
tensorflow==2.5.0
tqdm==4.11.2
wcwidth==0.1.7
